.story--wrapper {
    background-color: var(--white);
    padding: 30px;
    border-radius: 10px;
}
.toggle {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-dark);
}
.sm {
    width: 22px;
    height: 12px;
}
.md {
    width: 28px;
    height: 16px;
}
.input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    border-radius: 10px;
    background-color: var(--grey-medium);
    background-clip: content-box;
    position: relative;
    cursor: pointer;
}
.input[type="checkbox"]:checked {
    background-color: var(--blue-main);
}
.input[type="checkbox"]:disabled:checked {
    background-color: var(--blue-disabled);
}
/* Круг слева */
.input[type="checkbox"]::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100%, -50%);
    width: 45%;
    height: 85%;
    border-radius: 50%;
    background-color: var(--white);
}
.input[type="checkbox"]:hover::after {
    box-shadow: 0 0 2px var(--blue-main);
}
.input[type="checkbox"]:disabled::after {
    background-color: var(--grey-extraLight);
    cursor: not-allowed;
    box-shadow: none;
}
/* Круг справа */
.input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    width: 45%;
    height: 85%;
    border-radius: 50%;
    background-color: var(--white);
}

