.story--wrapper {
  background-color: var(--white);
  padding: 30px;
  border-radius: 10px;
  width: 900px;
}

.button {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  /* font-size: 12px; */
  line-height: 16.5px;

  /* padding: 0.5em 1.5em;
  border: none;*/
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  padding: 0.5em 1.5em;
  /* transition: all 0.3s ease; */
}

/* Стили для дефолтных кнопок */
/* синяя */
.button--fill-default {
  background-color: var(--blue-main);
  color: var(--white);
  border: none;
}
.button--fill-default:hover {
  background-color: var(--blue-secondary);
  color: var(--white);
  border: none;
}
.button--fill-default:active {
  background-color: var(--blue-dark);
  color: var(--white);
  border: none;
}
.button--fill-default:disabled {
  background-color: var(--blue-disabled);
  color: var(--white);
  border: none;
  cursor: not-allowed;
}
/* ошибка */
.button--fill-error {
  background-color: var(--error-main);
  color: var(--white);
  border: none;
}
.button--fill-error:hover {
  background-color: var(--error-secondary);
  color: var(--white);
  border: none;
}
.button--fill-error:active {
  background-color: var(--error-dark);
  color: var(--white);
  border: none;
}
.button--fill-error:disabled {
  background-color: var(--error-disabled);
  color: var(--white);
  border: none;
  cursor: not-allowed;
}
/* success */
.button--fill-success {
  background-color: var(--success-main);
  color: var(--white);
  border: none;
}
.button--fill-success:hover {
  background-color: var(--success-secondary);
  color: var(--white);
  border: none;
}
.button--fill-success:active {
  background-color: var(--success-dark);
  color: var(--white);
  border: none;
}
.button--fill-success:disabled {
  background-color: var(--success-disabled);
  color: var(--white);
  border: none;
  cursor: not-allowed;
}
/* warning */
.button--fill-warning {
  background-color: var(--warning-main);
  color: var(--white);
  border: none;
}
.button--fill-warning:hover {
  background-color: var(--warning-secondary);
  color: var(--white);
  border: none;
}
.button--fill-warning:active {
  background-color: var(--warning-dark);
  color: var(--white);
  border: none;
}
.button--fill-warning:disabled {
  background-color: var(--warning-disabled);
  color: var(--white);
  border: none;
  cursor: not-allowed;
}
/* info */
.button--fill-info {
  background-color: var(--info-main);
  color: var(--text-btn);
  border: none;
}
.button--fill-info:hover {
  background-color: var(--info-secondary);
  color: var(--text-btn);
  border: none;
}
.button--fill-info:active {
  background-color: var(--info-dark);
  color: var(--text-btn);
  border: none;
}
.button--fill-info:disabled {
  background-color: var(--info-main);
  color: var(--text-btn-light);
  border: none;
  cursor: not-allowed;
}

/* Стили для outline кнопок */
/* синяя */
.button--outline-default {
  background-color: var(--white);
  color: var(--blue-main);
  border: 1px solid var(--blue-main);
}
.button--outline-default:hover {
  background-color: rgba(13, 153, 255, 0.07);
  color: var(--blue-main);
  border: 1px solid var(--blue-main);
}
.button--outline-default:active {
  background-color: rgba(13, 153, 255, 0.15);
  color: var(--blue-main);
  border: 1px solid var(--blue-main);
}
.button--outline-default:disabled {
  background-color: var(--white);
  color: var(--blue-disabled);
  border: 1px solid var(--blue-disabled);
  cursor: not-allowed;
}
/* ошибка */
.button--outline-error {
  background-color: var(--white);
  color: var(--error-main);
  border: 1px solid var(--error-main);
}
.button--outline-error:hover {
  background-color:   rgba(255, 59, 48, 0.07);
  color: var(--error-main);
  border: 1px solid var(--error-main);
}
.button--outline-error:active {
  background-color: rgba(255, 59, 48, 0.15);
  color: var(--error-main);
  border: 1px solid var(--error-main);
}
.button--outline-error:disabled {
  background-color: var(--white);
  color: var(--error-disabled);
  border: 1px solid var(--error-disabled);
  cursor: not-allowed;
}
/* success */
.button--outline-success {
  background-color: var(--white);
  color: var(--success-main);
  border: 1px solid var(--success-main);
}
.button--outline-success:hover {
  background-color:rgba(52, 199, 89, 0.07);
  color: var(--success-secondary);
  border: 1px solid var(--success-secondary);
}
.button--outline-success:active {
  background-color:rgba(52, 199, 89, 0.15);
  color: var(--success-dark);
  border: 1px solid var(--success-dark);
}
.button--outline-success:disabled {
  background-color: var(--white);
  color: var(--success-disabled);
  border: 1px solid var(--success-disabled);
  cursor: not-allowed;
}
/* warning */
.button--outline-warning {
  background-color: var(--white);
  color: var(--warning-main);
  border: 1px solid var(--warning-main);
}
.button--outline-warning:hover {
  background-color: rgba(255, 149, 0, 0.07);
  color: var(--warning-secondary);
  border: 1px solid var(--warning-secondary);
}
.button--outline-warning:active {
  background-color: rgba(255, 149, 0, 0.15);
  color: var(--warning-dark);
  border: 1px solid var(--warning-dark);
}
.button--outline-warning:disabled {
  background-color: var(--white);
  color: var(--warning-disabled);
  border: 1px solid var(--warning-disabled);
  cursor: not-allowed;
}
/* info */
.button--outline-info {
  background-color: var(--white);
  color: var(--text-btn);
  border: 1px solid var(--text-btn);
}
.button--outline-info:hover {
  background-color:rgba(111, 111, 111, 0.07);
  color: var(--text-btn);
  border: 1px solid var(--text-btn);
}
.button--outline-info:active {
  background-color:rgba(111, 111, 111, 0.15);
  color: var(--text-btn);
  border: 1px solid var(--text-btn);
}
.button--outline-info:disabled {
  background-color: var(--white);
  color: var(--text-btn-light);
  border: 1px solid var(--text-btn-light);
  cursor: not-allowed;
}

/* Стили для текстовых/ссылок  */
.button--link-default {
  color: var(--blue-main);
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.button--link-default:hover {
  text-decoration: underline;
}
.button--link-default:disabled {
  color: var(--blue-disabled);
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}
.button--link-error {
  color:var(--error-main);
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.button--link-error:hover {
  text-decoration: underline;
}
.button--link-error:disabled {
  color: var(--error-disabled);
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}
.button--link-success {
  color:var(--success-main);
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.button--link-success:hover {
  text-decoration: underline;
}
.button--link-success:disabled {
  color: var(--success-disabled);
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}
.button--link-warning {
  color:var(--warning-main);
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.button--link-warning:hover {
  text-decoration: underline;
}
.button--link-warning:disabled {
  color: var(--warning-disabled);
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}
.button--link-info {
  color:var(--text-btn);
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.button--link-info:hover {
  text-decoration: underline;
}
.button--link-info:disabled {
  color: var(--text-btn-light);
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

/* Размеры кнопок */
.button--sm {
  /* font-size: 0.8rem; */
  font-size: 12px; 
}
.button--md {
  /* font-size: 1rem; */
  font-size: 14px; 
}
.button--lg {
  /* font-size: 1.2rem; */
  font-size: 16px; 
}

/* Стили кнопок иконка/без иконки/ссылка */
.button--default {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.5em 1em 0.5em 0.7em;
}
.button--text {
  padding: 0.5em 1em;
}
.button--icon {
  padding: 0.5em 0.7em;
}
