.fileAttach {
  display: flex;
  gap: 15px;
  min-width: 260px;
  flex: 1;
  max-width: 100%;
}
.fileAttach_position_left {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.fileAttach_position_right {
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fileAttach_position_bottom {
  flex-direction: column;
}
