.story--wrapper {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  /* width: 900px; */
}
.typography--wrapper{
  display: grid;
  grid-template-columns: 4fr 150px 50px 150px;
  gap: 20px;
  align-items: center;
  height: 60px;
}

.typography--variant-Heading1 {
    font-family: var(--font-family-main);
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-bold);
    line-height: var(--lineHeight-48);
    letter-spacing: var(--letterSpacing);
    text-decoration: none;
}
.typography--variant-Heading2 {
  font-family: var(--font-family-main);
  font-size: var(--font-size-36);
  font-weight: var(--font-weight-bold);
  line-height: var(--lineHeight-36);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
.typography--variant-Heading3 {
  font-family: var(--font-family-main);
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-bold);
  line-height: var(--lineHeight-24);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
.typography--variant-Heading4 {
  font-family: var(--font-family-main);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-bold);
  line-height: var(--lineHeight-20);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
.typography--variant-Subheading1 {
  font-family: var(--font-family-main);
  font-size: var(--font-size-36);
  font-weight: var(--font-weight-medium);
  line-height: var(--lineHeight-36);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
.typography--variant-Subheading2 {
  font-family: var(--font-family-main);
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-medium);
  line-height: var(--lineHeight-24);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
.typography--variant-Subheading3 {
  font-family: var(--font-family-main);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-medium);
  line-height: var(--lineHeight-20);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
.typography--variant-Body {
  font-family: var(--font-family-main);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-regular);
  line-height: var(--lineHeight-18);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
.typography--variant-Body-Medium {
  font-family: var(--font-family-main);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-meduim);
  line-height: var(--lineHeight-18);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
.typography--variant-Body-Bold{
  font-family: var(--font-family-main);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-semiBold);
  line-height: var(--lineHeight-18);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
.typography--variant-Body1 {
  font-family: var(--font-family-main);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
  line-height: var(--lineHeight-16);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
.typography--variant-Body1-Medium {
  font-family: var(--font-family-main);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-meduim);
  line-height: var(--lineHeight-16);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
.typography--variant-Body1-Bold{
  font-family: var(--font-family-main);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-semiBold);
  line-height: var(--lineHeight-16);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
.typography--variant-Body2 {
  font-family: var(--font-family-main);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-regular);
  line-height: var(--lineHeight-14);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
.typography--variant-Body2-Medium {
  font-family: var(--font-family-main);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-meduim);
  line-height: var(--lineHeight-14);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
.typography--variant-Body2-Bold{
  font-family: var(--font-family-main);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-semiBold);
  line-height: var(--lineHeight-14);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}

.typography--variant-Caption {
  font-family: var(--font-family-main);
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-regular);
  line-height: var(--lineHeight-12);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
.typography--variant-Caption-Medium {
  font-family: var(--font-family-main);
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-meduim);
  line-height: var(--lineHeight-12);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
.typography--variant-Caption-Bold{
  font-family: var(--font-family-main);
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-semiBold);
  line-height: var(--lineHeight-12);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}

.typography--variant-Caption1 {
  font-family: var(--font-family-main);
  font-size: var(--font-size-10);
  font-weight: var(--font-weight-regular);
  line-height: var(--lineHeight-10);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
.typography--variant-Caption1-Medium {
  font-family: var(--font-family-main);
  font-size: var(--font-size-10);
  font-weight: var(--font-weight-meduim);
  line-height: var(--lineHeight-10);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}
.typography--variant-Caption1-Bold{
  font-family: var(--font-family-main);
  font-size: var(--font-size-10);
  font-weight: var(--font-weight-semiBold);
  line-height: var(--lineHeight-10);
  letter-spacing: var(--letterSpacing);
  text-decoration: none;
}

