@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --font-family-main: 'Raleway', sans-serif; 

  --font-size-48: 48px;
  --font-size-36: 36px;
  --font-size-24: 24px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-12: 12px;
  --font-size-10: 10px;

  --lineHeight-48: 56px;
  --lineHeight-36: 42px;
  --lineHeight-24: 32px;
  --lineHeight-20: 28px;
  --lineHeight-18: 24px;
  --lineHeight-16: 22px;
  --lineHeight-14: 18px;
  --lineHeight-12: 16px;
  --lineHeight-10: 14px;

  --font-weight-bold: 700;
  --font-weight-semiBold: 600;
  --font-weight-medium:500;
  --font-weight-regular:400;
  --font-weight-light:300;
  --font-weight-extraLight:200;

  --letterSpacing:0em;

}