.linkHover {
    text-decoration: none;
}

.linkHover:hover {
    text-decoration: underline;
}

.tooltipStyle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: context-menu;
    display: inline-block;
}

